
@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans:600|PT+Sans:400,700|Ubuntu:700');
html {
    font-size: 10px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background: #fff none repeat scroll 0 0;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}
header, nav, section, article, aside, footer {
    display: block;
} 

.container { } 

.container__header { } 

.header {
	background: url("../images/bg.png") repeat scroll 0 0;
    background-size: cover;
    display: inline-block;
    font-size: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
} 

.container_width_fixed { 
	margin: 0 auto;
    max-width: 590px;
    padding: 0 10px;
} 
.header__logo { 
    margin: 65px 0 0;   
} 
.logo { } 
.logo__link { } 
.logo__img { } 
.header__menu { 
	margin: 45px 0 0;
} 
.menu { 
	font-size: 0;
    margin: 0;
    padding: 0;
} 
.menu__item {
	display: inline-block;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 3%;
} 
.menu__link {
	color: #fff;
    text-decoration: none;
} 
.menu__link:hover {
    text-decoration: underline;
}
.header__title { } 
.title {  } 
.title__heading {
	font-size: 5.3rem;
    margin: 80px 0 0;
    color: #fff;
	font-family: 'Ubuntu', sans-serif;
    font-weight: bold;   
} 
.title__description { 
	font-size: 1.5rem;
    margin: 43px 0 0;
    color: #fff;
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
} 
.title__description::before, .title__description::after{
	border-bottom: 2px solid #446164;
    content: "";
    display: inline-block;
    width: 16%;
    margin: 0 6%;
}
.header__link { } 
.link { 
	margin: 84px 0 120px;
} 
.more-link { 
	display: block; 
	height: 35px; 
	width: 235px; 
	margin: 0 auto; 
	line-height: 35px; 
	background-color: #50c3af; 
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold; 
	border-radius: 20px;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px;  
	text-decoration: none;
} 
.container__services { } 
.services {
	background-color: #eeeeef;
} 
.services__item-element{
}
.temp__item-element{ 
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.temp__item-title{
	color: #40474e;
	font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.temp__item-title::after{
	border-bottom: 2px solid #e2e3e4;
    content: "";
    display: block;
    margin: 23px 0;
}
.temp__item-text{
	font-size: 1.4rem;
    margin: 5px 0 0;
    color: #cfcfd1;
	font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.temp__ico { 
    margin: 0 10px 0 0;
    } 
.services__item {
	display: flex;
	justify-content: flex-end;
	align-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 28%;
	text-align: center;
	margin: 52px 0 68px 0;
} 
.services__item-icon { } 
.services__img { } 
.services__item-title { 
	font-size: 1.6rem;
    margin: 30px 0 0;
}
.services__item-title::after{
	width: 135px;
}
.services__item-text {} 
.container__review { } 
.review {
	background: #f5f5f5;
} 
.review__item-element { 
} 
.review__item {
	display: flex;
	flex-direction: column;
	width: 45%;
	text-align:left;
	margin: 65px 0 76px 0;
} 
.review__item-icon { } 
.review__img {
	width: 100%;
} 
.review__item-article { } 
.review__item-title {
	font-size: 1.8rem;
    margin: 42px 0 0; 
} 
.review__item-title::after{
	width: 100%;
}
.review__item-text { 
}
.review__item-link {
	margin: 34px 220px 0 0;
	text-align: center;
} 
.more-link_width{
	width: 98px;
}
.container__supported { } 
.supported { 
	background-color: #eeeeef;
} 
.supported__item-element { } 
.supported__item {
	margin: 63px 0;
} 
.supported__item-icon { 
} 
.supported__ico{
}
.supported__item-article { } 
.supported__item-title { 
	font-size: 1.8rem;
    margin: 0; 
} 
.supported__item-text {
} 
.supported__item-link { 
	margin: 30px 492px 0 0;
	text-align: center;
} 
.more-link_bg-color{
	background-color: #d2d5da;
}
.container__thumbnail { } 
.thumbnail {
	background-color: #f5f5f5;
} 
.thumbnail__item-element { } 

.thumbnail__item { 
	display: flex;
	flex-direction: column;
	width: 27%;
	text-align:left;
	margin: 58px 0 70px 0;
} 
.thumbnail__item-icon { } 
.thumbnail__img { 
	width: 100%;
} 
.thumbnail__item-article { } 
.thumbnail__item-title {
	font-size: 1.6rem;
    margin: 41px 0 0; 
} 
.thumbnail__item-title::after{
	width: 100%;
}
.thumbnail__item-text { } 
.thumbnail__item-link {
	margin: 30px 65px 0 0;
	text-align: center;
} 
.more-link_str{
	color: #50c3af;
	background-color: #f5f5f5;
	font-weight: 400; 
	font-size: 1.4rem;
}
.container__template { } 
.template {
	background-color: #eeeeef;
} 
.template__item-element { } 
.template__item {
	margin: 62px 0;
	width: 45%;
} 
.template__item-icon { 
	
} 
.template__ico { 
} 
.template__item-article { } 
.template__item-title {
	font-size: 1.8rem;
    margin: 0; 
} 
.template__item-link { 
	margin: 40px 168px 0 0;
	text-align: center;
} 
.container__subscribe { } 
.subscribe { 
	background-color: #f5f5f5;
} 
.subscribe__item-element { } 
.subscribe__item {
	display: flex;
	flex-direction: column;
	width: 45%;
	text-align:left;
	margin: 62px 0;
} 
.subscribe__item-icon { } 
.subscribe__img { 
	width: 100%;
} 
.subscribe__item-article { } 
.subscribe__item-title { 
	font-size: 1.8rem;
    margin: 0; 
} 
.subscribe__item-text { } 
.subscribe__item-link {
	margin: 32px 492px 0 0;
	text-align: center;
} 
.container__company { } 
.company {
	background-color: #50c3b2;
} 
.company__item-element {
} 
.company__item { 
	margin: 53px 0 0;
	width: 100%;
} 
.company__item-icon { 
} 
.company__img {}
.company__ico{
} 
.company__item-title {
	font-size: 1.8rem;
	margin: 0;
	color: #fff;
	text-align: center;
} 
.company__item-title::after{
	border-bottom: 2px solid #61c8b6;
	width: 290px;
    text-align: center;
    margin: 22px auto;
}
.subscribe__item-pic { 
	display: flex;
	justify-content: space-between;
} 
.company__img { 
	display: flex;
	flex-direction: column;
	width: 18%;
	margin: 20px 0 74px 0;
} 
.container__footer { } 
.footer { 
	background: #f5f5f5;
	width: 100%;
	min-height: 57px;
	line-height: 57px; 
} 
.footer__info{
	display: flex;
	justify-content: space-between;
	line-height: 57px;
}
.footer__copyright { } 
.company__item-article{}
.copyright__item-title {
	font-size: 1.3rem;
	color: #b4b6b8;
	font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    margin: 0;
} 
.copyright__item-title_color{
	color: #787b80;
}
.footer__socials { } 

.socials-buttons { 
	margin: 0;
	padding: 0;
	font-size: 0;
} 
.socials-buttons__item { 
	display: inline-block;
} 
.socials-buttons__link { 
	display: inline-block;
    width: 31px;
    height: 18px;
    background: url("../images/sprite.png") no-repeat center;
    margin: 24px 0 0 0;
 } 
.socials-buttons__link_G { 
	background-position: 2px 0px;
} 
 .socials-buttons__link_fb { 
	background-position: -28px 0px;
} 
 .socials-buttons__link_tw {  
	background-position: -59px 0px;
} 
.top-link{
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 16pt;
	display: none;
	text-align: center;
	background-color: #11493f;
}

@media screen and (max-width: 1000px){
	.title__description::before, .title__description::after{
		margin: 0 2%;
		width: 13%;
	}
	.temp__item-title{
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 480px){
	.temp__item-element{
		flex-direction: column;
	}
	.temp__item{
		width: 100%;
		margin: 25px auto;
		text-align: center;
	}
	.temp__item-title::after{
		margin: 20px auto;
	}
	.temp__item-link {
		margin: 20px auto;
	}
	.temp__item-title{
		font-size: 1.4rem;
	}
	.footer__info{
		flex-direction: column;
		align-items: center;
	}
	.title__description::before, .title__description::after{
		margin: 0 2%;
		width: 10%;
	}
	.title__description{
		font-size: 1.2rem;
	}
	.temp__ico { 
    	margin: 0 5px 0 0;
    } 
	.company__img { 
	width: 20%;
	height: 20%;
	margin: 0;
} 
}
